@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Nana University</h1>
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Nana University</h2>
        <p>
           Our motto: Focus On Your Future, Accept Personal Responsibility, Make A Commitment.
        </p>
       
    </div>
    <div class="col-md-4">
        <h2>We Take Your Interests Serious! We Help Build Your Career.</h2>
        <p>Get Enrolled Today! You Motivated One.</p>
        <p><a class="btn btn-default" href="http://www.asp.net/mvc/tutorials/getting-started-with-ef-using-mvc/">To learn more about how to build your own site from scratch &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Thank You For Visiting Our School Site.</h2>
        <p>You Are A Star!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>